name: ubuntu

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ 2.3, 2.4, 2.5, 2.6, 2.7, 3.0, head ]
    steps:
      - uses: actions/checkout@v2
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install Dependencies
        run: |
          bundle install
      - name: Run Test
        run: bundle exec rake spec
